{
  "ignition": {
    "version": "3.2.0"
  },
  "networkd": {
    "units": [
      {
        "name": "00-{{ netdev }}.network",
        "contents": "[Match]\nName={{ netdev }}\n\n[Network]\nAddress=192.168.2.173/24\nGateway=192.168.1.1\nDNS=192.168.0.199\n"
      }
    ]
  }
}
