127.0.0.1 localhost localhost.localdomain localhost4 localhost4.localdomain4
::1 localhost localhost.localdomain localhost6 localhost6.localdomain6
192.168.2.171   api  api-int   api.okd4.pivotal.io
192.168.2.172   bootstrap   bootstrap.okd4.pivotal.io
192.168.2.173   master-0 etcd-0 _etcd-server-ssl._tcp  master-0.okd4.pivotal.io
192.168.2.174   master-1 etcd-1 _etcd-server-ssl._tcp  master-1.okd4.pivotal.io
192.168.2.175   master-2 etcd-2 _etcd-server-ssl._tcp  master-2.okd4.pivotal.io
