{
  "ignition": {
    "version": "2.0.0",
    "config": {}
  },
  "storage": {},
  "systemd": {},
  "networkd": {},
  "passwd": {
    "users": [
      {
        "name": "core",
        "sshAuthorizedKeys": [
          "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC4TlnDdqDmpA1XQhoxCS45g0SOqQ1ryuCUkgqW8ISGFIFrF5SBfMa/75QhajR9L08a/SDvR1OL3fBfyogx97iZu0OGCZ95i0MYnZMFW97wsxraU8oXZyPVaFiOw823x5Wl+OYmm7lZLZK+LjNcK5agYtGCQjf0FVH6Gr9TKZCVi/RatK4E2VxUZUGWgtBhdzYPK4kvgNgEIUb5loIzAu1lC7Qpwhml6yS+vNkz+I/IiWFTYvv70+sKlZT3Gp1d/XrNULgWsh6Yix7Dr9IxYJH3L/q3INQnS85Kt9MAwZUHszvNM+ic3fmvE5NCl0Puk8feWECN4HPD1QiL5DV91NXH1X5jfxOJGl0axLY01LNGzwjBZ5P7hrEYiLak9esYQYnjPIsMuhBKItZaDaoZbfjTnfCyVsMjmZ6FNQ/72ScnqwK4aqMPKojglM8DN94sYcFnaz1nZilMe9/3wU6To+sFekI4dGVRfNrSllwfzjz26inSVnL2irtxUMP9FJHmnL0= jomoon@LAPTOP-OS28E8H5"
        ]
      },
      {
        "name": "jomoon",
        "passwordHash": "$1$Zzh8f5xO$9r/7462gd8w.S8qmoPZ7d0",
        "create": {
          "groups": [
            "sudo",
            "docker"
          ]
        }
      }
    ]
  }
}
